include layout/utils

mixin selector(props)
    -
        list = Object.assign({
            name: '',
            list: [
                { title: '', value: '', shownValue: '' }
            ]
        })

    .selector&attributes(attributes)
        +wrapBreak: button.selector__button Сортировка
        .selector__list-wrapper
            ul.selector__list
                each item in props.list
                    li: label.selector__item
                        +wrapBreak: input.selector__item-input(
                            type='radio',
                            name=props.name,
                            value=item.value,
                            data-show-value=item.shownValue
                        )
                        +wrapBreak: span.selector__item-circle
                        | #{ item.title }

mixin selector-list(props)
    -
        list = Object.assign({
            name: '',
            list: [
                { title: '', value: '', shownValue: '' }
            ]
        })

    ul.selector.selector--list
        each item in props.list
            li: label.selector__item
                +wrapBreak: input.selector__item-input(
                    type='radio',
                    name=props.name,
                    value=item.value,
                    data-show-value=item.shownValue
                )
                +wrapBreak: span.selector__item-circle
                | #{ item.title }

-
    var sortList = [
        { title: 'Cначала популярные', value: 'popular', shownValue: 'По популярности' },
        { title: 'По возрастанию цены', value: 'price-incr', shownValue: 'Сначала дешевые' },
        { title: 'По убыванию цены', value: 'price-decr', shownValue: 'Сначала дорогие' },
    ]

mixin sort-selector
    +selector({ name: 'sorting', list: sortList }).selector--sort
