include layout/utils

-
    var sizes = ['A', 'B', 'C', 'D', 'E', 'F']
    var sizesNumber = ['70', '75', '85', '90', '95', '100', '105', '110', '115', '120', '125']

.size-table
    +popupBtn('size-table').size-table-button таблица размеров
    .size-table__tabs-list
        each size in sizes
            .size-table__tab
                button.size-table__tab-title(type='button') чашка #{ size }
                .size-table__tab-body.checkbox-list--size
                    each num in sizesNumber
                        - var sizeText = `${num}${size}`
                        if ['85', '90'].includes(num)
                            +popupBtn('size-subscription').rounded-checkbox.rounded-checkbox--notification.rounded-checkbox--size= sizeText
                        else
                            label.rounded-checkbox.rounded-checkbox--size
                                input.rounded-checkbox__input(type='checkbox', name='size', value=sizeText, required)
                                | #{ sizeText }
